.container {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    width: 800px;
}

.image-logo {
    text-align: center;
    margin-bottom: 100px;
}

.image-logo img {
    width: 10%;
}

.search-field {
    text-align: center;
    margin-bottom: 50px;
}

.search-field input {
    -webkit-box-shadow: 8px 14px 122px -33px rgba(0,0,0,0.59);
    -moz-box-shadow: 8px 14px 122px -33px rgba(0,0,0,0.59);
    box-shadow: 8px 14px 122px -33px rgba(0,0,0,0.59);
    height: 30px;
    width: 700px;
   }

   .search-field input:focus {
    -webkit-box-shadow: 8px 14px 122px -33px rgba(0,0,0,0.98);
    -moz-box-shadow: 8px 14px 122px -33px rgba(0,0,0,0.98);
    box-shadow: 8px 14px 122px -33px rgba(0,0,0,0.98);
   }

   input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

h5 {
    color: #4fb8e8;
}

.lorem-paragraphs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}